.cards .container[data-v-8856eaa6]:after {
    clear: both
}

.banner[data-v-8856eaa6] {
    text-align: center
}

.banner-desc[data-v-8856eaa6] {
    padding-top: 20px
}

.banner-desc h1[data-v-8856eaa6] {
    font-size: 34px;
    margin: 0;
    line-height: 48px;
    color: #555
}

.banner-desc p[data-v-8856eaa6] {
    font-size: 18px;
    line-height: 28px;
    color: #888;
    margin: 10px 0 5px
}

.sponsors[data-v-8856eaa6] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
}

.sponsor[data-v-8856eaa6] {
    margin: 0 20px 50px;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 300px;
    height: 100px;
    -ms-flex-pack: center;
    justify-content: center
}

.sponsor img[data-v-8856eaa6] {
    margin-right: 20px
}

.sponsor div[data-v-8856eaa6] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center
}

.sponsor p[data-v-8856eaa6] {
    margin: 0;
    line-height: 1.8;
    color: #999;
    font-size: 14px
}

.jumbotron[data-v-8856eaa6] {
    width: 890px;
    height: 465px;
    margin: 30px auto;
    position: relative
}

.jumbotron div[data-v-8856eaa6] {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0
}

.jumbotron img[data-v-8856eaa6] {
    position: absolute
}

.jumbotron .jumbotron-cloud-1[data-v-8856eaa6] {
    right: 0;
    top: 0;
    height: 55px
}

.jumbotron .jumbotron-plant-2[data-v-8856eaa6] {
    left: 60px;
    top: 200px
}

.jumbotron .jumbotron-web[data-v-8856eaa6] {
    height: 385px;
    top: 35px;
    left: 110px
}

.jumbotron .jumbotron-cloud-2[data-v-8856eaa6] {
    left: 0;
    top: 50px;
    height: 55px
}

.jumbotron .jumbotron-compo-1[data-v-8856eaa6] {
    left: 94px;
    height: 90px;
    top: 220px
}

.jumbotron .jumbotron-compo-2[data-v-8856eaa6] {
    right: 73px;
    top: 60px;
    height: 124px
}

.jumbotron .jumbotron-compo-3[data-v-8856eaa6] {
    right: 42px;
    top: 200px;
    height: 120px
}

.jumbotron .jumbotron-plant-1[data-v-8856eaa6] {
    bottom: 0;
    left: 30px;
    height: 185px
}

.jumbotron .jumbotron-figure-1[data-v-8856eaa6] {
    bottom: 0;
    right: 180px;
    height: 140px
}

.jumbotron .jumbotron-figure-2[data-v-8856eaa6] {
    bottom: 0;
    right: 10px;
    height: 68px
}

.cards[data-v-8856eaa6] {
    margin: 0 auto 110px;
    width: 1140px
}

.cards .container[data-v-8856eaa6] {
    padding: 0;
    margin: 0 -11px;
    width: auto
}

.cards .container[data-v-8856eaa6]:after, .cards .container[data-v-8856eaa6]:before {
    display: table;
    content: ""
}

.cards li[data-v-8856eaa6] {
    width: 33.33333%;
    padding: 0 19px;
    box-sizing: border-box;
    float: left;
    list-style: none
}

.cards img[data-v-8856eaa6] {
    width: 160px;
    height: 120px
}

.card[data-v-8856eaa6] {
    height: 430px;
    width: 100%;
    background: #fff;
    border: 1px solid #eaeefb;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    transition: all .3s ease-in-out;
    bottom: 0
}

.card img[data-v-8856eaa6] {
    margin: 66px auto 60px
}

.card h3[data-v-8856eaa6] {
    margin: 0;
    font-size: 18px;
    color: #1f2f3d;
    font-weight: 400
}

.card p[data-v-8856eaa6] {
    font-size: 14px;
    color: #99a9bf;
    padding: 0 25px;
    line-height: 20px
}

.card a[data-v-8856eaa6] {
    height: 53px;
    line-height: 52px;
    font-size: 14px;
    color: #409eff;
    text-align: center;
    border: 0;
    border-top: 1px solid #eaeefb;
    padding: 0;
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    transition: all .3s;
    text-decoration: none;
    display: block
}

.card a[data-v-8856eaa6]:hover {
    color: #fff;
    background: #409eff
}

.card[data-v-8856eaa6]:hover {
    bottom: 6px;
    box-shadow: 0 6px 18px 0 rgba(232, 237, 250, .5)
}

@media (max-width: 1140px) {
    .cards[data-v-8856eaa6] {
        width: 100%
    }

    .cards .container[data-v-8856eaa6] {
        width: 100%;
        margin: 0
    }

    .banner .container[data-v-8856eaa6] {
        width: 100%;
        box-sizing: border-box
    }

    .banner img[data-v-8856eaa6] {
        right: 0
    }
}

@media (max-width: 1000px) {
    .banner .container img[data-v-8856eaa6], .jumbotron[data-v-8856eaa6] {
        display: none
    }
}

@media (max-width: 768px) {
    .cards li[data-v-8856eaa6] {
        width: 80%;
        margin: 0 auto 20px;
        float: none
    }

    .cards .card[data-v-8856eaa6] {
        height: auto;
        padding-bottom: 54px
    }

    .banner-desc #line2[data-v-8856eaa6], .banner-stars[data-v-8856eaa6] {
        display: none
    }

    .banner-desc h2[data-v-8856eaa6] {
        font-size: 32px
    }

    .banner-desc p[data-v-8856eaa6] {
        width: auto
    }
}
